@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

input[type="text"],
input[type="search"] {
  font-size: 18px;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;  
  width: 100%;
  padding: 50px 0;
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: -webkit-fill-available;
  margin: 0 32px;
}

.tasksTable {
  width: 100%;
  border-radius: 10px;
  border: 2px solid #5e5e5e70;
  margin: 0 0 32px;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 8px 16px;
  border-bottom: 1px solid #5e5e5e70;
  border-top: 1px solid #5e5e5e70;
}

.task:first-child {
  border-top: none;
}

.task:last-child {
  border-bottom: none;
}

.taskContent {
  display: flex;
  align-items: center;
  gap: 8px;
}

.taskContentCheckbox {
  cursor: pointer;
}

.taskBtns {
  display: flex;
  gap: 10px;

}

.editBtn {
  background-color: #f6d91f;
  border: 1px solid #5e5e5e70;
  min-width: 80px;
  padding: 7px 0;
}

.deleteBtn {
  background-color: #f6351f;
  border: 1px solid #5e5e5e70;
  min-width: 80px;
  padding: 7px 0;
}

.uncheckedBtn {
  background-color: #31dc0f;
  border: 1px solid #5e5e5e70;
  padding: 10px 50px;
}

.addTask {
  display: flex;
  gap: 20px;
}

.addBtn {
  background-color: #1f99f6;
  border: 1px solid #5e5e5e70;
  padding: 7px 20px;
}

.btnIcon {
  max-width: 15px;
}